.concept-container {
  display: grid;
  grid-template-rows: repeat(3, min-content);
  grid-gap: 2rem;
  margin: 6rem 0rem 0rem 0;
}
.concept-heading {
  font-size: 2.8rem;
  font-family: $font-heading;
  font-weight: 400;
  color: #102a43;
  text-align: center;
}
.concept-content {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(35rem, 1fr));
  grid-gap: 4rem;
  margin-top: 3rem;

  &_heading {
    font-family: $font-heading;
    font-size: 2rem;
    font-weight: 600;
    margin-bottom: 2rem;
  }
  &_detail {
    margin-bottom: 1rem;
  }
  &_subbutton {
    font-size: 18px;
    font-weight: 600;
    color: #192a56;
    cursor: pointer;
    border: 2px solid #192a56;
    padding: 0.5rem;
    text-decoration: none;
    justify-self: center;
    &:hover {
      background-color: #192a56;
      color: white;
    }
  }
  & > * {
    display: grid;
    grid-template-rows: repeat(3, max-content);
    grid-gap: 2rem;
  }
}
.concept-promotion {
  background-color: #192a56;
  color: white;
  text-align: center;
  padding: 1rem;
  font-size: 1.2rem;
  margin-top: 4rem;
  &_heading {
    font-weight: 300;
    letter-spacing: 1px;
  }
}
