.footer {
  display: flex;
  justify-content: space-between;
  // grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  background-color: #192a56;
  padding: 2rem;
  color: white;
  font-weight: 300;
  letter-spacing: 1px;
}
.footer-heading_1{
  font-weight: 300;
  letter-spacing: 1px;
}