.hero-container {
  height: 50vh;
  border-bottom: 2px solid black;;
}
.hero-container {
  display: grid;
  grid-template-rows: repeat(3, max-content);
  justify-content: center;
  align-content: center;
  align-items: center;
  justify-items: center;
  padding: 2rem;

  &-heading {
    font-family: $font-heading;
    font-size: 3.8rem;
    font-weight: 700;
    line-height: 1.2;
    color: #102a43;
  }
  &-tagline {
    font-family: $font-primary;
    font-size: 1.7rem;
    color: black;
    font-weight: 400;
    margin: 1rem 0;
    position: relative;
    text-align: center;
    display: block;
    padding: 1rem;
    -webkit-box-decoration-break: clone;
    box-decoration-break: clone;
    // background: #2c3e50; /* fallback for old browsers */
    // background: -webkit-linear-gradient(
    //   to right,
    //   rgb(29, 88, 97),
    //   #99c2eb
    // ); /* Chrome 10-25, Safari 5.1-6 */
    // background: linear-gradient(
    //   to right,
    //   rgb(29, 88, 97),
    //   #99c2eb
    // ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  }
  .cta-1 {
    display: inline-block;
    border: none;
    padding: 1rem 2rem;
    margin: 0;
    text-decoration: none;
    background: #192a56;
    color: #ffffff;
    font-size: 1.5rem;
    cursor: pointer;
    text-align: center;
    transition: background 250ms ease-in-out, transform 150ms ease;
    -webkit-appearance: none;
    -moz-appearance: none;
  }

  button:hover,
  button:focus {
    background: #0053ba;
  }

  button:focus {
    outline: 1px solid #fff;
    outline-offset: -4px;
  }

  button:active {
    transform: scale(0.99);
  }
}
