.hero-container {
  background: url("images/hero.png") no-repeat;
  background-size: contain;
  background-position: right bottom;
  height: 50vh;
}
.hero-container {
  // transform: translateX(-185px);
  display: grid;
  grid-template-rows: repeat(3, max-content);
  justify-content: start;
  align-content: center;
  align-items: center;
  justify-items: start;
  padding: 2rem;

  &-heading {
    font-family: $font-heading;
    font-size: 3.8rem;
    font-weight: 700;
    line-height: 1.2;
    color: #102a43;
  }
  &-tagline {
    font-family: $font-primary;
    font-size: 1.7rem;
    color: white;
    font-weight: 400;
    margin: 1rem 0;
    position: relative;
    text-align: center;
    display: block;
   padding: 1rem;
    -webkit-box-decoration-break: clone;
    box-decoration-break: clone;
    background: #2c3e50; /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, rgb(29, 88, 97), #99c2eb); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, rgb(29, 88, 97), #99c2eb); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  }
  .cta-1 {
    background-color: #d9e2ec;
    padding: 1.4rem;
    color: #102a43;
    font-family: inherit;
    font-size: 1.6rem;
    border-radius: 10px;
    border: 1px solid transparent;
    border-bottom: 3px solid #6e8ba8;
    margin-top: 2rem;
    &:active {
      border-bottom: 3px solid transparent;
      transform: translateY(3px);
    }
  }
}
