.container {
  background-color: antiquewhite;
  color: green;
  padding: 10px;
}

.details {
  display: flex;
  justify-content: space-around;
  & > * {
    height: 100px;
    width: 100px;
    background-color: peachpuff;
    text-align: center;
  }
}
.issues {
  display: flex;
}

.box {
  margin: 10px;
  height: 150px;
  width: 150px;
  background-color: white;
  color: orangered;
  border: 1px solid blue;
  text-align: center;
  border-radius: 10px;
}

.no-pointer {
  pointer-events: none;
}
